body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    font-size: consolas;
}
a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #e19900;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 23px;
    transition: 0s;
    text-decoration: none;
}
a:hover{
    color:#e19900;
    background: #c0c0c0;
    box-shadow: 0 0 10px #2196f3 , 0 0 40px #2196f3;
    transition: 1s;
}
a span{
position:absolute;
display: block;
}
a span:nth-child(1){
    top: 0;
    left: -100px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,rgb(4, 19, 156),rgb(243, 243, 243));
}
a:hover span:nth-child(1){
    left: 100px;
    transition: 1s;
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,rgb(4, 19, 156),rgb(243, 243, 243));
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(3){
    bottom:0 ;
    right: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(360deg,rgb(4, 19, 156),rgb(243, 243, 243));
}
a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
